<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- Add log4net config section-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="1" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <!--接收推送的Url-->
    <add key="K2EventReceiverUrl" value="http://demo.k2software.cn:211/api/k2event/" />
    <!--链接SmObjServer字符串-->
    <add key="K2SmObjServer" value="Integrated=True; IsPrimaryLogin=True; Authenticate=True; EncryptedPassword=False; Host=DLX; Port=5555" />
    <!--运行环境，开发：Development，生产：Production -->
    <add key="Enviroment" value="Development" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku = ".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>