<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
    <section name="userAuthProvider" type="aZaaS.KStar.Authentication.UserAuthProviderSection, aZaaS.KStar"/>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0,Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <add name="K2DB" providerName="System.Data.SqlClient" connectionString="" />
    <add name="Tasks" providerName="System.Data.SqlClient" connectionString="" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="QuanShiCheckAPIUrl" value="https://bee.quanshi.com/ucopenapi/status/session/check" />
    <add key="QuanShiLoginAPIUrl" value="https://bee.quanshi.com/ucopenapi/auth/token/create" />
    <add key="QuanShiOASendAPIUrl" value="https://bee.quanshi.com/ucopenapi/appmsg/oa/send" />
    <add key="QuanShiSendChangeAPIUrl" value="https://bee.quanshi.com/ucopenapi/appmsg/oa/status/change" />
    <add key="TaskUrl" value="" />

    <add key="IsEmail" value="" />
    <add key="QuanShiAccount" value="" />
    <add key="QuanShiPwb" value="" />

    <!-- KStar Workflow Engine & Server Settings -->
    <add key="WorkFlowEngine" value="K2" />
    <add key="ServerName" value="" />
    <add key="WindowDomain" value="" />
    <add key="ClientPort" value="5252" />
    <add key="ServerPort" value="5555" />
    <add key="LoginUser" value="" />
    <add key="LoginPassword" value="" />
    <!-- AuthType 0:Windows 1:Form-->
    <add key="AuthType" value="0" />
    <add key="SecurityLabelName" value="K2" />

    <add key="K2AdminConnection" value="" />

  </appSettings>
</configuration>
